<doctype html>
<html>
  <head>
    <!-- Mobile devices -->
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui'>
    <title>Backpacks 'n' Cats</title>
    <link href='http://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='../../styles/base.css'>
    <link rel='stylesheet' href='../../styles/layout.css'>
    <link rel='stylesheet' href='../../styles/modules.css'>
  </head>
  <body>
    <div class='wrap'>
      <header>
        <a class='Title' href='/'><h1>Backpacks'n'Cats</h1></a>
        <h2>{{ title }}</h2>
        <h3>{{formatDate date}}</h3>
      </header>

      <article class='Article'>
        {{{ contents }}}
      </article>

      <nav class='ArticleNav'>
        <a class='ArticleNav-previous' href='{{ ../../next.path }}'>
          &lt;&lt; previous
          <span>{{ nex.title }}</span>
        </a>
        <a class='ArticleNav-next' href='{{ ../../previous.path }}'>
          next &gt;&gt;
          <span>{{ previous.title }}</span>
        </a>
      </nav>
    </div>
  </body>
</html>
